<div class="titulo">
  <h2 class="section_h2 int">Oi, {{respostas.dadosCliente.nome}}. Vamos lá!</h2>
  <h6 class="section_h5 int">Agora é a hora de você compartilhar conosco as informações sobre o seu processo. Por favor, seja o mais sincero e claro possível nas suas respostas, ok?!</h6><br>
</div>
<div>
  <div style="height: 40px"></div>
    <div class="form-group form_int">
      <div>
        <p class="p_mensagem"><img class="img_logo" src="assets/img/icone_logo.png" alt="logo_icone"> Qual o valor da <b>indenização</b> que você deseja receber?</p>
      </div>
      <h6 class="h6_cinza">Lembre-se de que o valor deve ser proporcional ao dano que você sofreu. Pedir um valor de indenização maior do que o real é considerado enriquecimento ilícito e isso não é permitido pela justiça.<br><br> 
        Aqui vai um exemplo de como calcular o valor da sua indenização. Se uma empresa cobrou uma taxa por um produto ou serviço que não foi contratado, leve em consideração os valores que você gastou tentando buscar o seu direito ao entrar em contato com a pessoa/ empresa (como telefone, transporte, etc). <br><br>
        Aqui vai uma pequena orientação: se você abrir um processo que tenha uma indenização de ATÉ 20 salários mínimos, não precisa necessariamente de um advogado. Caso o valor ultrapasse 20 salários mínimos, você precisa de acompanhamento jurídico.<br><br>
      </h6>
      <div class="btn_choose">                  
        <button (click)="atualizarValor(true)" class="btn btn_resp btn_turquese" routerLink="/questionario/sozinho" routerLinkActive="active">Até 20 salários mínimos<br>(até R$18,740,00)</button>
        <button (click)="atualizarValor(false)" class="btn btn_resp btn_darkblue" routerLink="/questionario/valor40" routerLinkActive="active">+ de 20 salários</button> 
      </div>
      <div class="input-group-btn"></div>
  </div>
</div>
<footer class="ftr_int">
  <button class="btn_voltar btn-link" routerLink="/questionario/nome" routerLinkActive="active">Voltar um passo</button>
</footer>