<div>
    <h2>Para dar continuidade a esse processo você precisa de um advogado.</h2>    
      <h6>A partir do momento que você decide processar uma empresa com uma indenização maior que 40 salários mínimos, precisa, obrigatoriamente, do auxílio de um advogado. </h6>
    <h4>
    <br><br>
    <p>
      Nós não podemos gerar petições acima desse valor. Porém, queremos te ajudar mesmo assim! 
    </p>
  </h4>
  <h6> 
    Consumidor em Ação, contamos com uma base de advogados cadastrados que podem assumir o seu processo.   
  </h6>
  <br>
  <button routerLink="/questionario/advogado/lista-advogado">Ver sugestão de advogados</button>
  <footer class="ftr_int">
      <a><p class="voltar">Voltar um passo</p></a>
  </footer>
</div>