<div class="titulo">
  <h2 class="section_h2 int">Relaxe, nós vamos te ajudar a resolver essa situação!</h2>
  <h6 class="section_h5 int">Que pena que você passou por isso. Mas fique tranquilo, nós vamos te ajudar a dar entrada no seu processo.</h6><br>
</div>
<div>
  <div style="height: 70px"></div>
  <div class="form-group form_int">
    <div>
      <p class="p_mensagem"><img class="img_logo" src="assets/img/icone_logo.png" alt="logo_icone"> Mas, antes disso, qual é o seu nome?</p>
    </div>
    <div style="width:100%;" class="input-group">
      <input type="text" placeholder="Digite seu nome..." class="form-control input_int" name="nome" id="eNome"/>
      <button type="button" class="btn btn_processo" id="btn_prox" routerLink="/questionario/valor20" routerLinkActive="active">OK</button>
    </div>
    <div class="input-group-btn">
        
    </div>
      <!--#e3e9f4-->
    
  </div>
</div>
<div id="openModal" class="modalDialog">
  <div>
    <a href="#modal-close" title="Close" class="close-modal">Close</a>
    <h1>Voilà!</h1>
    <div>A CSS-only modal based on the :target pseudo-class. Hope you find it helpful.</div>
  </div>
</div>
<footer class="ftr_int">
  <a><p class="voltar">Voltar um passo</p></a>
</footer>