<div class="steps-timeline">

    <div class="steps">
      <img class="steps-img" src="assets/img/cinza.jpg" alt="" />
      <h3 class="steps-name">
        Passo 1
      </h3>
    </div>

    <div class="steps">
      <img class="steps-img" src="assets/img/azul.jpg" alt="" />
      <h3 class="steps-name-ative">
        Passo 2
      </h3>
    </div>

    <div class="steps">
      <img class="steps-img" src="assets/img/cinza.jpg" alt="" />
      <h3 class="steps-name">
        Passo 3
      </h3>
    </div>

    <div class="steps">
      <img class="steps-img" src="assets/img/cinza.jpg" alt="" />
      <h3 class="steps-name">
        Passo 4
      </h3>
    </div>
    <div class="steps">           
      <img class="steps-img" src="assets/img/cinza.jpg" alt="" />
      <h3 class="steps-name">
        Passo 5
      </h3>
    </div>
    <div class="steps">
      <img class="steps-img" src="assets/img/cinza.jpg" alt="" />
      <h3 class="steps-name">
        Passo 6
      </h3>
    </div>
    <div class="steps">
      <img class="steps-img" src="assets/img/cinza.jpg" alt="" />
      <h3 class="steps-name">
        Passo 7
      </h3>
    </div>
    <div class="steps">
      <img class="steps-img" src="assets/img/cinza.jpg" alt="" />
      <h3 class="steps-name">
        Passo 8
      </h3>
    </div>
    <div class="steps">
      <img class="steps-img" src="assets/img/cinza.jpg" alt="" />
      <h3 class="steps-name">
        Passo 9
      </h3>
    </div>
    <div class="steps">
      <img class="steps-img" src="assets/img/cinza.jpg" alt="" />
      <h3 class="steps-name">
        Doação
      </h3>
    </div>
    <div class="steps fim">
      <img class="steps-img" src="assets/img/cinza.jpg" alt="" />
      <h3 class="steps-name">
        Fim
      </h3>
    </div>
</div><!-- /.steps-timeline -->


<div class="titulo">
  <h2 class="section_h2 int">Relaxe, nós vamos te ajudar a resolver essa situação!</h2>
  <h6 class="section_h5 int">Que pena que você passou por isso. Mas fique tranquilo, nós vamos te ajudar a dar entrada no seu processo.</h6><br>
</div>
<div>
  <div style="height: 70px"></div>
  <div class="form-group form_int">
    <div>
      <p class="p_mensagem"><img class="img_logo" src="assets/img/icone_logo.png" alt="logo_icone"> Mas, antes disso, qual é o seu nome?</p>
    </div>
    <div style="width:100%;" class="input-group">
      <input type="text" placeholder="Digite seu nome..." class="form-control input_int" [(ngModel)]="respostas.dadosCliente.nome" name="nome" id="eNome"/>
      <button type="button" class="btn btn_processo" id="btn_prox" routerLink="/questionario/valor20" routerLinkActive="active">OK</button>
    </div>
    <div class="input-group-btn">
        
    </div>
      <!--#e3e9f4-->
    
  </div>
</div>




<!-- Atenção Completar cada li com:  data-ng-repeat="item in data.events" data-ng-class="{'active': item.active, 'cancelled': (item.id == 'CANCELLED')}" on-last-repeat="" -->





<footer class="ftr_int">
  <button class="btn_voltar btn-link" routerLink="/questionario/problema" routerLinkActive="active">Voltar um passo</button>
</footer>
