<div style="height: 750px;">
<div class="titulo">
  <h2 class="section_h2 int">Precisamos saber mais sobre você, Wanner</h2>
  <h6 class="section_h5 int">Agora é a hora de nós sabermos mais sobre você! Compartilhe todos os seus dados corretamente, para que nós possamos dar
    continuidade a sua petição inicial.</h6>
  <br>
</div>
<div style="height: 40px">
  <div class="form-group form_int">
    <div>
      <p class="p_mensagem">
        <img class="img_logo" src="assets/img/icone_logo.png" alt="logo_icone"> Digite seus dados abaixo
    </div>
    <div>
      <form>
        <div class="form-group">
          <div class="col-md-6">
            <input type="text" placeholder="Nome" class="form-control col-md-6 input_int_100" id="exampleInputEmail1" aria-describedby="emailHelp" >
          </div>
          <div class="col-md-6">
            <input type="text" placeholder="Sobrenome" class="form-control col-md-6 input_int_100" id="exampleInputEmail1" aria-describedby="emailHelp" >
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-6">
            <input type="text" placeholder="RG" class="form-control col-md-6 input_int_100" id="exampleInputEmail1" aria-describedby="emailHelp" >
          </div>
          <div class="col-md-6">
            <input type="text" placeholder="Órgão expeditor" class="form-control col-md-6 input_int_100" id="exampleInputEmail1" aria-describedby="emailHelp" >
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-6">
            <input type="text" placeholder="CPF" class="form-control col-md-6 input_int_100" id="exampleInputEmail1" aria-describedby="emailHelp" >
          </div>
          <div class="col-md-6">
            <input type="text" placeholder="Data de nascimento" class="form-control col-md-6 input_int_100" id="exampleInputEmail1" aria-describedby="emailHelp" >
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-6">
            <input type="text" style="margin-top: 30px;" placeholder="Telefone residencial" class="form-control col-md-6 input_int_100" id="exampleInputEmail1" aria-describedby="emailHelp" >
          </div>
          <div class="col-md-6">
            <input type="text" style="margin-top: 30px;" placeholder="Celular" class="form-control col-md-6 input_int_100" id="exampleInputEmail1" aria-describedby="emailHelp" >
          </div>
        </div>

        <div style="height: 60 px">
        </div>

        <div class="form-group">
          <div class="col-md-6">
            <input type="text" placeholder="CEP" class="form-control col-md-6 input_int_100" id="exampleInputEmail1" aria-describedby="emailHelp" >
          </div>
          <div class="col-md-6">
            <input type="text" placeholder="Endereço" class="form-control col-md-6 input_int_100" id="exampleInputEmail1" aria-describedby="emailHelp" >
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-6">
            <input type="text" placeholder="Número" class="form-control col-md-6 input_int_100" id="exampleInputEmail1" aria-describedby="emailHelp" >
          </div>
          <div class="col-md-6">
            <input type="text" placeholder="Complemento" class="form-control col-md-6 input_int_100" id="exampleInputEmail1" aria-describedby="emailHelp" >
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-6">
            <input type="text" placeholder="Bairro" class="form-control col-md-6 input_int_100" id="exampleInputEmail1" aria-describedby="emailHelp" >
          </div>
          <div class="col-md-6">
            <input type="text" placeholder="Cidade" class="form-control col-md-6 input_int_100" id="exampleInputEmail1" aria-describedby="emailHelp" >
          </div>
        </div>
        <div class="form-group">  
          <div class="col-md-6">
            <input type="text" style="margin-top:30px;" placeholder="E-mail" class="form-control col-md-6 input_int_100" id="exampleInputEmail1" aria-describedby="emailHelp" >
          </div>
          <div class="col-md-6">
            <input type="text" style="margin-top:30px;" placeholder="Senha" class="form-control col-md-6 input_int_100" id="exampleInputEmail1" aria-describedby="emailHelp" >
          </div>
          <br><br>
        </div>
        <div style="width:98.5%; text-align: right;" class="input-group">  
          <button style="margin-top: 20px; width: 150px;" class="btn_processo" routerLink="/questionario/provas" routerLinkActive="active">Próximo passo</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
