<div>
  <ul Style="text-align:center;">
    <li id="motivo_1" class="btn_resp btn_resp_azul li_mensagem section_h5" (click)="respostas.problema = 1"
      routerLink="/questionario/corpo-peticao" routerLinkActive="active">
      <p>Cobraram por um<br/> produto/serviço que já<br/> paguei</p>
    </li>
    <li id="motivo_2" class="btn_resp btn_resp_azul li_mensagem section_h5" (click)="respostas.problema = 2"
      routerLink="/questionario/corpo-peticao" routerLinkActive="active">
      <p>Cobraram uma taxa que<br/> não contratei</p>
    </li>
    <li id="motivo_3" class="btn_resp btn_resp_azul li_mensagem section_h5" (click)="respostas.problema = 3"
      routerLink="/questionario/corpo-peticao" routerLinkActive="active">
      <p>Cobraram por um serviço<br/> que nunca requisitei/<br/>utilizei</p>
    </li>
    <li id="motivo_3" class="btn_resp btn_resp_azul li_mensagem section_h5" (click)="respostas.problema = 3"
      routerLink="/questionario/corpo-peticao" routerLinkActive="active">
      <p>Cobraram um valor maior<br/> do que o que eu contratei</p>
    </li>
  </ul>
  <br><br>
  <button type="button" class="btn btn_default" id="btn_voltar" routerLink="/questionario/dados-cliente" routerLinkActive="active"><i class="fa fa-arrow-left"></i> Voltar</button>
</div>