.mensagem {
  margin-top: 10px;
  padding-top: 5px;
  overflow:auto;
  height:420px;
}
.backend {
  height: auto !important;
  width: 76%;
  margin-left: 4%;
}
.form_int {
  margin-left: 20%;
  margin-top: 35px;
}
.btn_resp_azul {
  background-color: #008EF5;
}
.btn_resp {
  margin: 5px !important;
  width: 195px !important;
  font-size: .9em !important;
}
.li_mensagem {
  display: inline-block !important;
  font-size: .9em;
}   
.btn_processo {
  color: #fff;
  background-color: #008EF5;
}