.mensagem {
  margin-top: 10px;
  padding-top: 5px;
  overflow:auto;
  height:420px;
}
.backend {
  height: auto !important;
  width: 76%;
  margin-left: 4%;
}
.form_int {
  margin-left: 20%;
  margin-top: 35px;
}
.btn_resp_azul {
  background-color: #008EF5;
}
.btn_resp {
  margin: 20px;
  font-weight: bold;
  width: 200px;
  height: 70px;
  color: #fff;
  border-radius: 1rem !important;
}
.li_mensagem {
  display: inline-block !important;
  font-size: .9em;
}   
.section_h5{
  color: #fff;
  font-weight: 400;
  font-style: italic
}
.btn_processo {
  color: #fff;
  background-color: #008EF5;
}