<div>
  <h2>Oi, tudo certo?</h2><br>
  <h6>
    O nosso objetivo aqui no Consumidor em Ação é simplificar a abertura do seu processo. Para isso, vamos te fazer algumas perguntas, que vão nos ajudar a ter todas as informações necessárias para criar uma petição inicial*. 
    <br><br>
    Ao compartilhar a sua história conosco, lembre-se de responder com o máximo de precisão possível, ok?! Não pense duas vezes antes de nos contar os detalhes. Quanto mais informações, melhor. =)
  </h6>
  <ul Style="text-align:center;">
    <li id="motivo_1" class="btn_resp btn_resp_azul li_mensagem section_h5" (click)="respostas.problema = 1"
      routerLink="/questionario/corpo-peticao" routerLinkActive="active">
      <p>Cobraram por um<br/> produto/serviço que já<br/> paguei</p>
    </li>
    <li id="motivo_2" class="btn_resp btn_resp_azul li_mensagem section_h5" (click)="respostas.problema = 2"
      routerLink="/questionario/corpo-peticao" routerLinkActive="active">
      <p>Cobraram uma taxa que<br/> não contratei</p>
    </li>
    <li id="motivo_3" class="btn_resp btn_resp_azul li_mensagem section_h5" (click)="respostas.problema = 3"
      routerLink="/questionario/corpo-peticao" routerLinkActive="active">
      <p>Cobraram por um serviço<br/> que nunca requisitei/<br/>utilizei</p>
    </li>
    <li id="motivo_3" class="btn_resp btn_resp_azul li_mensagem section_h5" (click)="respostas.problema = 3"
      routerLink="/questionario/corpo-peticao" routerLinkActive="active">
      <p>Cobraram um valor maior<br/> do que o que eu contratei</p>
    </li>
  </ul>
  <br><br>
  <button type="button" class="btn btn_default" id="btn_voltar" routerLink="/questionario/dados-cliente" routerLinkActive="active"><i class="fa fa-arrow-left"></i> Voltar</button>
</div>