<div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
        <h1>Termos e condições</h1>
      </div>
      <div class="modal-body">
        <div class="scroll_pane">
            <p>
              Estes <b>Termos e Condições Gerais</b> aplicam-se ao uso dos serviços oferecidos pelo CONSUMIDOR EM AÇÃO ("Consumidor em Ação") por meio do site www.consumidoremacao.com.br.
              Qualquer pessoa, doravante nominada Usuário, que pretenda utilizar os serviços do <b>Consumidor em Ação</b> deverá aceitar os Termos e Condições Gerais e todas as demais políticas e princípios que o regem.
            </p>
            <p>
              <b>A ACEITAÇÃO DESTES TERMOS E CONDIÇÕES GERAIS É ABSOLUTAMENTE INDISPENSÁVEL À UTILIZAÇÃO DO SITE E SERVIÇOS PRESTADOS PELO CONSUMIDOR EM AÇÃO.</b>
            </p>
            <p>
              O Usuário deverá ler, certificar-se de haver entendido e aceitar todas as condições estabelecidas nos <b>Termos e Condições Gerais</b> e nas Políticas de Privacidade.
            </p>
            <p>
              1. Objeto. Os serviços objeto dos presentes Termos e Condições Gerais consistem em auxiliar o Usuário a gerar o requerimento inicial necessário para o ingresso de ação judicial perante o Juizado Especial Cível.
            </p>
            <p>
              2. O Usuário declara expressamente entender que: (i) o <b>Consumidor em Ação</b> é uma ferramenta tecnológica sem qualquer conexão, interferência e/ou ligação com o Poder Judiciário; (ii) o requerimento inicial gerada pelo sistema não representa o ajuizamento da ação judicial; (iii) é imprescindível protocolar o requerimento inicial perante o Juizado Especial Cível para que o processo judicial seja iniciado; (iv) é necessário acompanhar o andamento do processo judicial diretamente nos canais de comunicação disponibilizados pelo Poder Judiciário; (v) não há qualquer garantia de que o pedido do requerimento inicial será deferido pelo Poder Judiciário; (vi) o Consumidor em Ação não presta serviços jurídicos, nos termos da Lei nº 8.906/1994.
            </p>
            <p>
              3. <b>O USUÁRIO DECLARA EXPRESSAMENTE QUE TODAS AS INFORMAÇÕES, DADOS E DOCUMENTOS INSERIDOS NO SISTEMA DO CONSUMIDORES EM AÇÃO SÃO VERDADEIROS E NÃO VIOLAM DIREITOS DE TERCEIROS.</b>
            </p>
            <p>
              4. Toda informação ou dado pessoal prestado pelo Usuário do <b>Consumidor em Ação</b> é armazenada em servidores ou meios magnéticos de alta segurança. Consumidor em Ação tomará todas as medidas possíveis para manter a confidencialidade e a segurança descritas nesta cláusula, porém não responderá por prejuízo que possa ser derivado da violação dessas medidas por parte de terceiros que utilizem as redes públicas ou a internet, subvertendo os sistemas de segurança para acessar as informações de Usuários.
            </p>
            <p>
              5. O Usuário expressamente autoriza que suas informações e dados pessoais sejam compartilhados pelo <b>Consumidor em Ação</b> com as demais empresas integrantes do grupo econômico.
            </p>
            <p>
              6. O uso comercial da expressão "Consumidor em Ação" como marca, nome empresarial ou nome de domínio, bem como os conteúdos das telas relativas aos serviços do Consumidor em Ação, assim como os programas, bancos de dados, redes, arquivos que permitem que o Usuário acesse e use sua conta são propriedade do Consumidor em Ação e estão protegidos pelas leis e tratados internacionais de direito autoral, marcas, patentes, modelos e desenhos industriais. O uso indevido e a reprodução total ou parcial dos referidos conteúdos são proibidos, salvo a autorização expressa do Consumidor em Ação.             
            </p>
        </div>
        <div style="text-align: right">
          <button class="btn btn_processo" (click)="close()">Entendi</button>
        </div>
      </div>
    </div>
</div>