<!DOCTYPE html>
<div class="cabecalho">
  <div class="row cabecalho_menu">
    <img class="logomarca" src="assets/img/logo.png" />
  </div>
  <div class="cabecalho_centro cabecalho_texto">
    <h1 class="h1_cabecalho">Você foi lesado por uma empresa e <br>quer abrir um processo?</h1>
    <h4 class="h4_cabecalho">Nós estamos aqui para te orientar passo a passo</h4>
    <a routerLink="/questionario" routerLinkActive="active"><button class="btn btn_azul">QUERO COMEÇAR</button></a>
  </div>
</div>

<section>
  <div class="titulo">
    <h2 class="section_h2">É muito fácil abrir seu processo aqui!</h2>
    <h5 class="section_h5">Em poucos passos, muito intuitivos, sua petição estará pronta, basta imprimir e levar ao fórum.</h5><br>
  </div>
  <ul class="sc_logos">
    <li class="li_logos"><img src="assets/img/preencha.png" alt="preencha"></li>
    <li class="li_logos"><img src="assets/img/dados.png" class="img_dir" alt="dados"></li>
    <li class="li_logos"><img src="assets/img/protocole.png" alt="protocole"></li>
    <li class="li_logos"><img src="assets/img/acompanhe.png" alt="acompanhe"></li>
  </ul>
  <ul class="sc_ul">
    <li class="sc_li"><a href=""></a>Conte-nos<br>Sua História</li>
    <li class="sc_li"><a href=""></a>Preecha<br>seus Dados</li>
    <li class="sc_li"><a href=""></a>Protocole<br>sua Petição</li>
    <li class="sc_li"><a href=""></a>Acompanhe<br>seu processo</li>
  </ul>
  <div class="btn_processo">
    <a routerLink="/questionario" routerLinkActive="active"><button class="btn btn_azul">QUERO COMEÇAR</button></a>
  </div>
  <div id="blocos">
  </div>
</section>
<footer class="ftr_home">
  <div id="rodape">
    <nav class="nv_footer">
      <ul class="ul_rodape">
        <li class="li_rodape"><a href="#"><img class="logomarca_rdp" src="assets/img/logo_rdp.png" alt="logo"></a></li>
      </ul>
    </nav>
  </div>
</footer>