<div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-body">
        <input type="text" placeholder="Buscar por nome ou CNPJ..." class="form-control input_int" name="nome" id="eNome" style="width: 100% !important"/>
        <br/>
        <div class="scroll_pane">
          <bootstrap-grid>
            <container>
              <div *ngFor="let empresa of empresas; index as i; first as isFirst" style="width:100%" class="linha_grid">
                <row>
                  <column sm="8" md="8" lg="8">
                    {{empresa.razaosocial}} - CNPJ {{empresa.cnpj}}
                  </column>
                  <column sm="4" md="4" lg="4" style="text-align: right">
                    <button (click)="retornar(empresa)" class="btn_fino btn_darkblue">Selecionar Empresa</button>
                  </column>
                </row>
              </div>
            </container>
          </bootstrap-grid>
        </div>
      </div>
    </div>
</div>