<div style="text-align: right; width: 100%;">
  <button (click)="pdf()" class="btn btn_resp btn_darkblue">Salvar PDF</button>
</div>


<section id="divPeticao" style="padding: 15px; background-color: #fff">
  <div>
    <h1>Petição inicial</h1>

    <div style="height: 20px"></div>

    <div class="row">
      <div class="col-md-6">
        <h4>Dados do reclamante</h4>
        <hr align="center" width="100%" size="1" color="black">
        <div class="row">
          <h6 class="col-md-5">Nome:</h6>
          <h6 class="col-md-7">{{respostas.dadosCliente.nome}}</h6>
        </div>
        <div class="row">
          <h6 class="col-md-5">Data nasc:</h6>
          <h6 class="col-md-7">{{respostas.dadosCliente.dataNasc}}</h6>
        </div>
        <div class="row">
          <h6 class="col-md-5">Endereço:</h6>
          <h6 class="col-md-7">{{respostas.dadosCliente.endereco}}</h6>
        </div>
        <div class="row">
          <h6 class="col-md-5">Bairro:</h6>
          <h6 class="col-md-7">{{respostas.dadosCliente.bairro}}</h6>
        </div>
        <div class="row">
          <h6 class="col-md-5">Cidade:</h6>
          <h6 class="col-md-7">{{respostas.dadosCliente.cidade}}</h6>
        </div>
        <div class="row">
          <h6 class="col-md-5">CEP:</h6>
          <h6 class="col-md-7">{{respostas.dadosCliente.cep}}</h6>
        </div>
        <div class="row">
          <h6 class="col-md-5">RG:</h6>
          <h6 class="col-md-7">{{respostas.dadosCliente.rg}}</h6>
        </div>
        <div class="row">
          <h6 class="col-md-5">Org. Exp.:</h6>
          <h6 class="col-md-7">{{respostas.dadosCliente.orgaoExpeditor}}</h6>
        </div>
        <div class="row">
          <h6 class="col-md-5">CPF:</h6>
          <h6 class="col-md-7">{{respostas.dadosCliente.cpf}}</h6>
        </div>
        <div class="row">
          <h6 class="col-md-5">E-mail:</h6>
          <h6 class="col-md-7">{{respostas.dadosCliente.email}}</h6>
        </div>
        <div class="row">
          <h6 class="col-md-5">Fone residencial:</h6>
          <h6 class="col-md-7">{{respostas.dadosCliente.telefoneRes}}</h6>
        </div>
        <div class="row">
          <h6 class="col-md-5">Celular:</h6>
          <h6 class="col-md-7">{{respostas.dadosCliente.celular}}</h6>
        </div>
      </div>
      <div class="col-md-6">
        <h4>Dados do reclamado</h4>
        <hr align="center" width="100%" size="1" color="black">
        <div class="row">
          <h6 class="col-md-5">Nome:</h6>
          <h6 class="col-md-7">{{respostas.empresa.razaosocial}}</h6>
        </div>
        <div class="row">
          <h6 class="col-md-5">Endereço:</h6>
          <h6 class="col-md-7">{{respostas.empresa.endereco}}</h6>
        </div>
        <div class="row">
          <h6 class="col-md-5">Bairro:</h6>
          <h6 class="col-md-7">{{respostas.empresa.bairro}}</h6>
        </div>
        <div class="row">
          <h6 class="col-md-5">Cidade:</h6>
          <h6 class="col-md-7">{{respostas.empresa.cidade}}</h6>
        </div>
        <div class="row">
          <h6 class="col-md-5">CEP:</h6>
          <h6 class="col-md-7">{{respostas.empresa.cep}}</h6>
        </div>
        <div class="row">
          <h6 class="col-md-5">CNPJ:</h6>
          <h6 class="col-md-7">{{respostas.empresa.cnpj}}</h6>
        </div>
        <div class="row">
          <h6 class="col-md-5">Telefone:</h6>
          <h6 class="col-md-7">{{respostas.empresa.telefone}}</h6>
        </div>
      </div>
    </div>

    <div style="height: 20px"></div>

    <div class="row">
      <div class="col-md-12">
        <h4>Assunto da reclamação</h4>
        <hr align="center" width="100%" size="1" color="black">
        <div>
          <p>{{problema}}</p>
        </div>
      </div>
    </div>

    <div style="height: 20px"></div>

    <div class="row">
      <div class="col-md-12">
        <h4>Narrativa resumida</h4>
        <hr align="center" width="100%" size="1" color="black">
        <div>
          <p>{{respostas.corpoPeticao.historia}}</p>
        </div>
      </div>
    </div>

    <div style="height: 20px"></div>

    <div class="row">
      <div class="col-md-12">
        <h4>Fundamentos do pedido</h4>
        <hr align="center" width="100%" size="1" color="black">
        <div>
          <p>
            O Acesso à Justiça nos Juizados Especiais
            O Juizado Especial Cível é responsável por processar as ações que envolvem
            direitos cujo valor econômico não excede 40 salários-mínimos. Na verdade, trata-se de
            causas mais simples, em que os direitos envolvidos podem ser facilmente demonstrados,
            tendo, geralmente, um procedimento mais simples e mais rápido.
          </p>
          <p>
            Dentre as hipóteses de ingressar com uma ação nos JEC’s (Juizados Especiais
            Cíveis), existe a possibilidade do cidadão entrar com um processo sem a necessidade de
            estar assistido por um advogado, desde que o valor pretendido com a ação não ultrapasse
            20 salários-mínimos. Nestes casos, os juízes encarregados processam os pedidos do
            cidadão sem as formalidades e linguagem próprias dos advogados, ampliando o acesso à
            Justiça àqueles que não podem contratar um profissional.
          </p>
          <p>
            Assim, permite-se que o cidadão possa representar a si mesmo perante a Justiça,
            defendendo seus direitos de forma simples, objetiva e sem ônus, uma vez que o serviço é
            gratuito e não há gastos com advogados.
          </p>
          <p>
            O Acesso à Justiça é garantido pela Constituição Federal a todos os cidadãos e,
            tendo esta ação valor econômico limitado a 20 salários-mínimos, o cidadão que assina este
            documento vem defender os seus direitos explicados a seguir.
          </p>
          <p>
            Considera-se consumidor aquele que utiliza de produto ou serviço como destinatário
            final. Dentre os direitos básicos do consumidor está a proteção da integridade física, a
            liberdade de escolha dos produtos ou serviços, o acesso às informações claras e precisas
            do produto ou serviço escolhido, a ciência dos riscos envolvidos, proteção contra
            publicidade enganosa e abusos promovidos pelo fornecedor ou prestador do serviço,
            prevenção e reparação dos danos materiais e morais causador por falha, defeito, ou falta do
            produto ou serviço, entre outros (art. 6º, do Código de Defesa do Consumidor).
            Nesta ação, o nome do consumidor foi inscrito de forma indevida junto aos cadastros
            de proteção ao crédito, que possuem caráter público (art. 43, parágrafo 4º).
            Antes de mais nada, a inscrição do consumidor em tais cadastros foi feita por
            cobrança indevida da empresa fornecedora, o que, por si só, faz com que os valores
            cobrados incorretamente lhe sejam restituídos, em dobro (art. 42, parágrafo único).
            </p>

            <!-- 11111
            Considerando que todo contrato de consumo deve ser interpretado
            favoravelmente ao consumidor (art. 47), a negativação indevida de seu nome foi feita
            em razão de cobrança feita por parcela ou valor já pago pelo consumidor.
            O consumidor tem o direito de não ser cobrado injustamente e de ser restituído
            no valor da cobrança indevida, sendo proibido impedir o reembolso ao consumidor do
            valor já pago (art. 51, II).
            -->

            <!-- 22222
            Considerando que todo contrato de consumo deve ser interpretado
            favoravelmente ao consumidor (art. 47), a negativação indevida de seu nome foi feita
            em razão da cobrança de taxa, tarifa ou serviço extra não contratado inicialmente pelo
            consumidor. 
            Em primeiro lugar, não pode o fornecedor executar qualquer coisa além dos
            limites contratados, sem expressa autorização do consumidor (art. 39, VI). Do mesmo
            modo, é proibido o fornecedor aplicar um reajuste ou tarifa ausente no contrato (art.
            39, XIII). Inclusive, nada que esteja no contrato, sem o conhecimento prévio do
            consumidor, pode ser considerado válido (art. 46).
            Ainda, não são válidas as previsões do contrato que sejam de qualquer modo
            abusivas, ou que deixem o consumidor desprotegido ou em desvantagem (art. 51, IV),
            ou que altere o preço contratado em qualquer forma (art. 51, X), ou, finalmente, que
            cause prejuízo econômico considerável ao consumidor (art. 51, parágrafo único, III),
            como a cobrança em questão.
            Considerando que todo-->


            <!-- 3333
            Considerando que todo contrato de consumo deve ser interpretado
            favoravelmente ao consumidor (art. 47), a negativação indevida de seu nome foi feita
            pela cobrança por serviço ou produto não utilizado ou nunca contratado pelo
            consumidor.
            O fornecedor não pode entregar ou prestar qualquer produto ou serviço, sem
            solicitação pelo consumidor (art. 39, III), muito menos vincular a venda de um produto
            a compra de outro, a popularmente conhecida “venda casada” (art. 39, I).
            -->

            <!--44444444
            Considerando que todo contrato de consumo deve ser interpretado
            favoravelmente ao consumidor (art. 47), a negativação indevida de seu nome foi feita
            pela cobrança de valor excessivo ou “a maior” ao consumidor, ou seja, em montante
            além daquele acordado.
            É proibido ao fornecedor exigir qualquer vantagem ou valor excessivo ao
            consumidor (art. 39, V), bem como não pode alterar os preços contratados de
            qualquer maneira diferente daquilo que foi acordado com o consumidor (art. 51, X).
            -->

            <p>
            A proteção ao consumidor garante, inclusive, que as agressões aos seus direitos
            sejam consideradas crimes, como o fornecedor causar ameaça ou constrangimento de
            qualquer natureza ao consumidor (art. 71), como nesse caso em que a inscrição indevida de
            seu nome nos órgãos de proteção ao crédito causa incômodos e humilhação de caráter
            público.
            </p>
            <p>
            Inclusive, impedir o acesso ao consumidor aos registros de devedores e a estes
            órgãos de proteção ao crédito, também configura crime (art. 72).
            E, ainda, tendo o fornecedor o conhecimento de que a cobrança é indevida, por já ter
            sido quitada, ou por cobrança de valores diferentes do contratado, o simples fato de manter
            o registro do consumidor nestes cadastros de inadimplentes, com todos os efeitos negativos
            que isso causa, também configura conduta criminosa (art. 73).
            3) A responsabilidade do fornecedor pelos danos
            A reparação por danos causados ao patrimônio ou à honra das pessoas é garantida
            pela Constituição e pelo Código Civil, por meio de indenização no valor proporcional a estes
            danos.
          </p>
            <p>
            Todas as práticas anteriormente apresentadas que estão contra o Código do
            Consumidor, merecem a devida reparação na forma de indenização pelos danos materiais
            ou patrimoniais, e ainda, pelos danos morais, causados sobre a honra, imagem, etc.
          </p>
            <p>
            Os elementos da responsabilidade são: a demonstração do dano, as condutas em
            desrespeito ao Código do Consumidor, e a relação de causalidade entre os outros dois
            elementos. Feito o relato do que efetivamente aconteceu, expostas as condutas irregulares
            praticadas contra o consumidor neste caso, e conforme as provas abaixo, é evidente a
            necessidade de reparar o consumidor pelos danos sofridos, tanto ao seu patrimônio, quanto
            contra a sua imagem, diretamente afetada.
          </p>
        </div>
      </div>
    </div>

    <div style="height: 20px"></div>
    
    <div class="row">
      <div class="col-md-12">
        <h4>Valor do pedido</h4>
        <hr align="center" width="100%" size="1" color="black">
        <div>
          <p>{{ respostas.valor }}</p>
        </div>
      </div>
    </div>

    <div style="height: 20px"></div>
    
    <div class="row">
      <div class="col-md-12">
        <h4>A parte reclamante apresenta documentos nessa oportunidade</h4>
        <hr align="center" width="100%" size="1" color="black">
        <div>
          <li>Prova 1</li>
          <li>Prova 2</li>
          <li>Prova 3</li>
        </div>
      </div>
    </div>

    <div style="height: 20px"></div>
  </div>
</section>