/* You can add global styles to this file, and also import other style files */
.input_int {
    width: 80% !important;
    background-color: #EEEEF6;
    height: 50px;
    margin-top: 10px;
  }
  .btn_processo {
    color: #fff;
    background-color: #008EF5;
    width: 100px;
    margin-left: 3px;
    font-weight: bolder;
    height: 50px;
    font-size: 1.2em;
    margin-top: 10px;
  }
  .section_h2{
    color: #626A78;
    font-weight: 600;
    font-style: italic
  }
  .section_h5{
    color: #626A78;
    font-weight: 400;
    font-style: italic
  }
  .ftr_int {
    position: absolute;
      bottom: 0;
  }
  .form_int {
    padding-bottom: 30px;
  }
  /*Modal*/
  .modalDialog {
      position: fixed;
      font-family: Arial, Helvetica, sans-serif;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0,0,0,0.4);
      z-index: 99999;
      opacity:0;
      -webkit-transition: opacity 400ms ease-in;
      -moz-transition: opacity 400ms ease-in;
      transition: opacity 400ms ease-in;
      pointer-events: none;
  }
  
  .modalDialog:target {
      opacity:1;
      pointer-events: auto;
  }
  
  .modalDialog > div {
      width: 300px;
      position: relative;
      margin: 10% auto;
      padding: 20px;
      border-radius: 4px;
    border: 1px solid #dadada;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.4);
    background: none repeat scroll 0 0 #FFFFFF;
    height: auto;
    color:#666F79;
  }
  
  .btnLoginHome {
    background-color:#61c6c3; 
    font-family: Lato, sans-serif !important;
    color: #fff;
    box-shadow: 4px 4px 4px rgba(150, 150, 150, 0.4);
  }
  
  a.close-modal {
      background: url(/assets/img/close_bt.png) top no-repeat;
      width: 26px;
      height: 26px;
      display: inline;
      z-index: 3200;
      position: absolute;
      top: 6px;
      right: 10px;
      cursor: pointer;
  }
  .img_logo {
    width: 27px;
    margin-top: -5px;
  }
  a.close-modal:hover {
      background: url(/assets/img/close_bt.png) top no-repeat;
      background-color: #61c6c3;
  }
  
  .link_modal {
    margin-left: 19%;
  }
  /* Fim modal */