/* You can add global styles to this file, and also import other style files */
a {
    text-decoration: none !important;
    list-style-type: none !important;
    color: rgb(175, 175, 175) !important
}
a :focus :hover {
    text-decoration: none !important;
    list-style-type: none !important;
    color: #eee !important;
}
i {
    text-decoration: none !important;
}

.h6_cinza {
  color: #A0A4A8;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  padding-left: 35px;
}
.logomarca {
  text-align: right;
  float: left;
  width: 150px !important;
  margin-left: 190px;
  margin-top: 10px; 
}
.ul_menu_inicial {
  display: flex;
  text-decoration: none;
  list-style: none;
  float: right;
  margin-right: 20%;
  margin-top: 20px;
}
.li_menu_inicial {
  margin-left: 20px;
}
.li_menu_inicial a {
  color: #fff !important;
}
.active a {
  color: #40CCB8 !important;
}
.input_int {
  width: 80% !important;
  background-color: #EEEEF6 !important;
  border-color: #EEEEF6 !important;
  border-radius: 7px !important;
  height: 50px !important;
  margin-top: 10px;
}
.linha_grid {
  background-color: #EEEEF6; 
  border-color: #EEEEF6 !important; 
  border-radius: 7px !important;
  margin-top: 10px; 
  padding: 10px;
}
.input_int_100 {
  width: 100% !important;
  background-color: #EEEEF6 !important;
  border-color: #EEEEF6 !important;
  border-radius: 7px !important;
  margin-top: 10px;
  height: 50px !important
}
.scroll_pane {
  height:300px;
  overflow-y:scroll;
  width:100%;
}
  .txt_area_100 {
    background-color: #EEEEF6 !important;
    border-color: #EEEEF6 !important;
    border-radius: 7px !important;
    margin-bottom: 20px;
  }
  .btn.focus, .btn:focus, .btn:hover {
    color: rgb(235, 247, 241) !important;
  }
  .btn_choose {
    margin-left: 18%;
    margin-right: 18%;
  }
  .btn_resp_azul {
    background-color: #008EF5;
  }
  .btn_resp_verde {
    background-color: #40CCB8;
  }
  .btn_turquese {
    background-color: #40CCB8;
  }
  .btn_darkblue {
    background-color: #35445B;
  }
  .btn_help {
    color: #fff !important;
    font-weight: bold !important;
    border-radius: 7px !important;
  }
  .btn_resp {
    margin: 20px;
    font-weight: bold !important;
    width: 200px;
    height: 80px;
    color: #fff;
    border-radius: 1rem !important;
    line-height: 17px;
    padding: 5px 0px 5px 0px;
  }
  .btn_fino {
    height: 28px;
    font-size: 10px;
    font-weight: bold !important;
    border-radius: 0.5rem !important;
    color: #fff;
  }
  .btn_processo {
    color: #fff;
    background-color: #008EF5;
    border-radius: 7px !important;
    width: 100px;
    margin-left: 10px;
    font-weight: bolder !important;
    height: 50px;
    font-size: 1.2em;
    margin-top: 10px;
  }
  .btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
  .btn_proximo {
    color: #fff;
    background-color: #008EF5;
    border-radius: 7px !important;
    width: 150px;
    margin-left: 3px;
    font-weight: bolder !important;
    height: 50px;
    font-size: 1.2em;
    margin-top: 10px;
  }
  .tabela {
    background-color: #EEEEF6 !important;
    font-size: .8em;
  }
  .btn_proximo {
    color: #fff;
    background-color: #008EF5;
    border-radius: 7px !important;
    width: 150px;
    margin-left: 3px;
    font-weight: bolder !important;
    height: 50px;
    font-size: 1.2em;
    margin-top: 1px;
    float: right;
  }
  .btn:focus, .btn:hover {
    color: #fff;
    background-color: #40ccb8;
  }
  .section_h2{
    color: #626A78;
    font-weight: 900;
    font-style: italic;
    font-family: 'Lato', sans-serif;
  }
  .section_h5{
    color: #626A78;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
  }
  .p_mensagem {
    color: #626A78;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
  }
  .ftr_int {
    position: absolute;
    bottom: 0;
  }
  .form_int {
    padding-bottom: 30px;
  }
  /*Modal*/
  .modalDialog {
      position: fixed;
      font-family: Arial, Helvetica, sans-serif;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0,0,0,0.4);
      z-index: 99999;
      opacity:0;
      -webkit-transition: opacity 400ms ease-in;
      -moz-transition: opacity 400ms ease-in;
      transition: opacity 400ms ease-in;
      pointer-events: none;
  }
  
  .modalDialog:target {
      opacity:1;
      pointer-events: auto;
  }
  
  .modalDialog > div {
    width: 300px;
    position: relative;
    margin: 10% auto;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #dadada;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.4);
    background: none repeat scroll 0 0 #FFFFFF;
    height: auto;
    color:#666F79;
  }
  
  .btnLoginHome {
    background-color:#61c6c3; 
    font-family: Lato, sans-serif !important;
    color: #fff;
  }
  
  a.close-modal {
      background: url(/assets/img/close_bt.png) top no-repeat;
      width: 26px;
      height: 26px;
      display: inline;
      z-index: 3200;
      position: absolute;
      top: 6px;
      right: 10px;
      cursor: pointer;
  }
  .img_logo {
    width: 27px;
    margin-top: -5px;
  }
  a.close-modal:hover {
      background: url(/assets/img/close_bt.png) top no-repeat;
      background-color: #40ccb8;
  }
  
  .link_modal {
    margin-left: 19%;
  }
  /* Fim modal */

  /*Horizontal timeline*/
  @import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
  html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  body {
    font-family: lato;
  }
  .section-header, .steps-header, .steps-name {
    color: rgba(0,0,0,.3);
    font-weight: 400;
    font-size: 1em;
  }
  .fim {
    padding-left: 7px;
  }
  .steps-name-ative {
    color: #35dfc9;
    font-size: 12px;
    margin-top: 0;
    font-family: 'Lato', sans-serif;
  }
  .steps-timeline {
    width:98%;
  }
  @media screen and (max-width: 500px) {
    .steps-timeline {
      border-left: 2px solid #d3d3d3;
      margin-left: 25px;
    }
  }
  @media screen and (min-width: 500px) {
    .steps-timeline {
      border-top: 2px solid #d3d3d3;
    }
  }
  .steps-timeline:after {
    content: "";
    display: table;
    clear: both;
  }
  .steps-one, .steps-two, .steps-three {
    outline: 1px dashed rgba(0, 128, 0, 0);
  }
  @media screen and (max-width: 500px) {
    .steps-one, .steps-two, .steps-three {
      margin-left: -25px;
    }
  }
  @media screen and (min-width: 500px) {
    .steps-one, .steps-two, .steps-three {
      float: left;
      width: 33%;
      margin-top: -50px;
    }
  }
  @media screen and (max-width: 500px) {
    .steps-one, .steps-two {
      padding-bottom: 40px;
    }
  }
  @media screen and (min-width: 500px) {
    .steps-one {
      margin-left: -16.65%;
      margin-right: 16.65%;
    }
  }
  @media screen and (max-width: 500px) {
    .steps-three {
      margin-bottom: -100%;
    }
  }
  @media screen and (min-width: 500px) {
    .steps-three {
      margin-left: 16.65%;
      margin-right: -16.65%;
    }
  }
  .steps-img {
    display: block;
    margin: auto;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  @media screen and (max-width: 500px) {
    .steps-img {
      float: left;
      margin-right: 20px;
    }
  }
  .steps-name, .steps-description {
    margin: 0;
    color: #d3d3d3;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
  }
  @media screen and (min-width: 500px) {
    .steps-name {
      text-align: center;
    }
  }
  .steps {
    display: inline-block;
    margin-top: -10px;
    margin-right: 18px;
    margin-left: 18px;
  }
  .input_prova {
    width: 100% !important;
    background-color: #EEEEF6 !important;
    border-color: #EEEEF6 !important;
    border-radius: 7px !important;
    margin-top: 10px;
    height: 50px !important;
  }

  .steps-description {
    overflow: hidden;
  }
  @media screen and (min-width: 500px) {
    .steps-description {
      text-align: center;
    }
  }
  