  <div class="titulo">
    <h2 class="section_h2 int">{{ nome }}, aqui vão sugestões de advogados que podem assumir o seu processo.</h2>
    <h6 class="section_h5 int">Contratar um profissional garante que toda a sua ação judicial corra da melhor maneira possível!</h6><br>
  </div>
  <div style="height: 40px"></div>
  <div>
    <p class="p_mensagem"><img class="img_logo" src="assets/img/icone_logo.png" alt="logo_icone"> Confira alguns advogados cadastrados na nossa base</p>
  </div>
  <h6 class="h6_cinza">
    A partir de agora, o seu contato será diretamente com o advogado. O time do Consumidor em Ação não interfere nesse processo, ok? Esperamos que o seu problema seja solucionado o mais breve possível! 
  </h6>
  <table class"tabela">
    <tr *ngFor="let advogado of advogadoList; index as i; first as isFirst">
      <td>{{advogado.nome}} - {{advogado.oab}} - {{advogado.telefone}}</td>
      <td><button (click)="detalhar(advogado)">Ver + Informações</button></td>
    </tr>
  </table>
  <footer class="ftr_int">
      <a><p class="voltar">Voltar um passo</p></a>
  </footer>
