<div class="titulo">
  <h2 class="section_h2 int">Wanner, aqui vão sugestões de advogados que podem assumir o seu processo.</h2>
  <h6 class="section_h5 int">Contratar um profissional garante que toda a sua ação judicial corra da melhor maneira possível!</h6>
  <br>
</div>
<br/>
<div>
  <p class="p_mensagem">
    <img class="img_logo" src="assets/img/icone_logo.png" alt="logo_icone"> Confira alguns advogados cadastrados na nossa base</p>
  <h6 class="h6_cinza">A partir de agora, o seu contato será diretamente com o advogado. O time do Consumidor em Ação não interfere nesse processo,
    ok? Esperamos que o seu problema seja solucionado o mais breve possível!
  </h6>
</div>
<br/>
<bootstrap-grid>
  <container>
    <div *ngFor="let advogado of advogados; index as i; first as isFirst" class="linha_grid">
      <row class="input-group">
        <column sm="8" md="8" lg="8">
          {{advogado.nome}} - OAB {{advogado.oab}} - Telefone {{advogado.telefone}}
        </column>
        <column sm="4" md="4" lg="4" style="text-align: right">
          <button (click)="chamarInformacao(advogado)" class="btn_fino btn_darkblue">Ver + informações</button>
        </column>
      </row>
    </div>
  </container>
</bootstrap-grid>
<br/>
<br/>
<footer class="ftr_int">
  <button class="btn_voltar btn-link" routerLink="/questionario/valor20" routerLinkActive="active">Voltar um passo</button>
</footer>