<div>
  <h2>Só mais uma pergunta...</h2>
  <br>
  <p>
      É um prazer falar com você. A partir de agora nós vamos te fazer uma série de 
      perguntas para podermos entender e montar sua petição. 
      Por favor seja o mais sincero e claro possível nas suas respostas.
  </p>
  <br><br><br>
  <h3>
    Qual o valor da <strong>indenização</strong> que se encaixa no que você busca?
  </h3>
  <p>
    Aqui vai uma pequena orientação. Se você abrir um processo até 20 salários mínimos, 
    você não precisa necessariamente de um advogado. Caso o valor seja maior do 
    que 20 salários mínimos, nós iremos te redirecionar para {{nome}}.
  </p>

  <button>Até 40 Salários Mínimos (até 37.480,00)</button>
  <button>+ de 40 Salários Mínimos</button>
  
  <footer class="ftr_int">
      <a><p class="voltar">Voltar um passo</p></a>
    </footer>
</div>